click==7.1.1
cryptography==2.8
cycler==0.10.0
Flask==1.1.2
h5py==2.10.0
idna==2.9
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.18.1
opencv-python==4.2.0.34
pygame==1.9.6
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyreadline==2.1
PySocks==1.7.1
python-dateutil==2.8.1
requests==2.23.0
rsa==4.0
scikit-learn==0.22.2.post1
sklearn==0.0
tensorflow==2.0.3
tensorflow-estimator==2.0.0
urllib3==1.25.8
Werkzeug==0.16.1
